<form [formGroup]="formGroup">
  <div class="container">

    <div class="pt-20 pl-32">
      <h3 class="container-label">Example - Advanced</h3>

      <div class="border-2 border-grey-200 m-5 p-5 rounded">
        <ng-container *ngIf="viewModel.sinks.travelTypeSink$ | async">
          <eyassu-ng-choice formControlName="travelType"></eyassu-ng-choice>
        </ng-container>

        <ng-container *ngIf="viewModel.sinks.destinationSink$ | async">
          <eyassu-ng-drop-down formControlName="destination"></eyassu-ng-drop-down>
        </ng-container>

        <ng-container *ngIf="viewModel.sinks.explanationSink$ | async">
          <eyassu-ng-text-area formControlName="explanation"></eyassu-ng-text-area>
        </ng-container>

        <div class="ml-10 mt-10 border-t pt-5 border-grey-200">
          <button type="submit" class="btn" [disabled]="!formGroup.valid" (click)="onSave()"
            [ngClass]="{'btn-disabled' : !formGroup.valid}">Save</button>
          <button type="button" class="btn" (click)="onClear()" [disabled]="formGroup.pristine"
            [ngClass]="{'btn-disabled' : formGroup.pristine}">Clear</button>
        </div>

        <div class="ml-10 mt-10 text-sm" *ngIf="viewModel.sinks.travelTypeSink$ | async">
          <code>Valid: {{ formGroup.valid | json}}</code><br />
          <code>Touched: {{ formGroup.touched | json}}</code><br />
          <code>Dirty: {{ formGroup.dirty | json}}</code>
        </div>
      </div>

    </div>
  </div>

</form>
