<div class="ml-10 mt-10" *ngIf="value?.configuration?.visible">
  <div class="font-medium italic">
    <label for="choice">{{ value?.label }}</label>
    <span class="text-red-600 pl-2" *ngIf="value?.configuration?.required">*</span>
  </div>
  <ul id="menu" class="m-2">
    <li *ngFor="let choice of value?.choices">
      <input type="radio" name="choice" class="ml-7" value="{{choice.value}}" [checked]="choice.value === value?.selectedChoice?.value"
        [required]="value?.configuration?.required" (change)="onChoiceChange($event)" [disabled]="value?.configuration?.disabled"
        [readonly]="value?.configuration?.readOnly" />
      <span class="ml-1">{{choice.label}}</span>
    </li>
  </ul>
</div>
